:root {
  --white: #f9f9f9;
  --primary: #0063e5;
  --silver: #c0c0c0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #040714;
  color: var(--white);
}

nav {
  display: flex;
  align-items: center;
  padding: 0px 36px;
  width: 100%;
  top: 0;
  margin-top: 5px;
  margin-left: auto;
  position: fixed;
}

nav .logo {
  width: 110px;
  margin-right: auto;
  margin-top: 5px;
}

.btn {
  padding: 16px 24px;
  color: var(--white);
  text-decoration: none;
  border-radius: 4px;
  border: solid 1px;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}

.signup {
  background-color: #0063e5;
  border-color: var(--primary);
}

.signin {
  border: solid 1px var(--white);
}

header {
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: url(./img/bg.jpeg);
  background-position: 50%;
  background-size: cover;
}

header .logo {
  height: 98px;
  width: 180px;
  display: block;
  margin-bottom: 25px;
}

header > div {
  margin-left: 76px;
  max-width: 640px;
  display: flex;
  flex-direction: column;
}

section .btn {
  background-color: var(--primary);
  border-color: var(--primary);
  padding: 16.5px 25px;
  margin: 0px 0px;
  height: 60px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.content {
  box-sizing: border-box;
  max-width: 600px;
}

ul {
  display: flex;
  gap: 10px;
}

h1 {
  font-size: 40px;
  margin: 0px 20px 30px 0px;
  margin-right: 20px;
  text-align: left;
  font-weight: bold;
}

.grid-item > p {
  font-size: 14px;
  margin: 0 0 20px;
  color: var(--silver);
  line-height: 20px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.grid-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 12px;
  width: 50%;
}

.grid-item > p {
  height: 48px;
}

.both-ends {
  justify-content: space-between;
}

h2 {
  font-size: 28px;
  font-weight: bold;
}

.footnote {
  font-size: 11px;
  line-height: 21px;
}

.price {
  font-weight: bold;
}

a {
  color: var(--white);
}

span > a {
  font-size: 20px;
}

.small {
  font-size: 14px;
  line-height: 24px;
  color: var(--silver);
}

.lien-sub {
  display: block;
  padding-bottom: 50px;
}

.sign {
  font-size: 18px;
}

.look {
  display: flex;
  align-items: center;
  padding: 90px;
}

.scrum {
  display: block;
  width: 100%;
  height: auto;
  max-width: 800px;
}

.postScrum {
  font-size: 20px;
  padding: 0 2vw;
  text-align: left;
  letter-spacing: 0.2px;
  line-height: 30px;
  margin-bottom: 24px;
}

.text {
  color: var(--silver);
  display: block;
  flex-direction: column;
  list-style: disc;
  padding-left: 40px;
  box-sizing: border-box;
  font-size: 20px;
}

.text > li {
  margin-bottom: 20px;
}

.midSign {
  padding: 5.6vw;
  height: 60px;
  width: 100%;
  text-align: center;
  max-width: 360px;
}
